*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #092236;
    overflow: hidden;
}

nav{
    background: #021222;
    height: 80px;
    position: relative;
}

.contenedor{
    margin:auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    line-height: 80px;
    z-index: 100;
}

.logo{
    margin-left: 20px;
    z-index: 100;
    cursor: pointer;
}

.logo h2{
    color: #95bdd8;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 2px;
}

.logo h2 span{
    color: #0590ec;
    font-weight: 700;
}

.links .link{
    display: inline-block;
}
.links .link a {
    text-decoration: none;
    color: #d1faf4;
    font-size: 20px;
    margin: 0 25px;
    letter-spacing: 3px;
    transition: 0.7s;
}

.links .link a:hover{
    color: #487abb;
}

a{
    text-decoration: none;
}